<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Radley" rel="stylesheet">
</head>
<body>
<div class="poem">
    <h1><%= poem.title %></h1>
    <% poem.poem.forEach((line) => { %>
        <p><%= line %><p>
        <% }) %>
</div>
</body>
</html>
