@font-face {
    font-family: "Quilted Butterfly";
    src: url("DK Quilted Butterfly.ttf");
}

body {
    /*padding: 50px;*/
    font-family: 'Radley', serif;
    background-color: white;
}

a {
    color: #00B7FF;
}

.header {
    font-family: "Quilted Butterfly";
    color: #006060;
    text-align: center;
    font-size: 5em;
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: rgba(0, 0, 0, 0.11);*/
    background-color: white;
    padding: 20px;
    min-width: 640px;
}

@media screen and (max-width: 640px) {
    .container {
        flex-direction: column;
    }
}

.poem {
    flex: auto;
    padding-right: 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.11);
    padding-bottom: 30px;
}

.input_field {
    height: auto;
    font-size: large;
    color: #006060;
    margin-right: 30px;
    margin-left: 5px;
}

.form_label {
    font-size: 20px;
}

.generate_button {
    text-align: center;
    color: black;
    color: #006060;
    border-style: outset;
    border-radius: 20px;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
}

.generate_button:hover {
    background-color: #006060;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
}