@font-face {
    font-family: "Quilted Butterfly";
    src: url("DK Quilted Butterfly.ttf");
}

body {
    font-family: 'Radley', serif;
    background-color: white;
}

a {
    color: #00B7FF;
}

.header {
    font-family: "Quilted Butterfly";
    color: #006060;
    text-align: center;
    font-size: 5em;
    margin: 0;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.11);
    padding-bottom: 30px;
    min-width: 640px;
}

@media only screen and (max-width: 640px) {
    .controls {
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
        margin-left: 20px;
    }
    .header {
        text-align: left;
        margin-left: 20px;
    }
}

.input_field {
    height: auto;
    font-size: large;
    color: #006060;
    margin-right: 30px;
    margin-left: 5px;
}

.form_label {
    font-size: 20px;
}

.generate_button {
    text-align: center;
    color: black;
    color: #006060;
    border-style: outset;
    border-radius: 20px;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    margin-top: 10px;
}

.generate_button:hover {
    background-color: #006060;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
}

.poem_container {
    text-align: center;
    margin: 20px;
}

.poem {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    margin: auto;
}

@media only screen and (max-width: 640px) {
    .poem_container {
        text-align: left;
    }
}